.dsmeta-date-input-container {
	padding: 0 4%;
}

.dsmeta-date-input {
	height: 46px;
	margin-bottom: 16px;
	background: #1b2531;
	border: 1px solid #384459;
	border-radius: 5px;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	color: #9aaabe;
	padding: 21px 12px 26px 13px;
    cursor: pointer;
}

.react-datepicker__triangle {
    display: none;
}