* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #000000;
	color: #dddddd;
	font-family: "Albert Sans", sans-serif;
}

h1 {
	font-style: oblique;
	font-size: 24px;
	margin: 15px 0;
}

a {
	text-decoration: none;
	color: aliceblue;
}

a:hover {
	color: blanchedalmond;
}

#dsmeta-main-section {
	padding: 40px 10px;
}

.dsmeta-container {
	margin: 0 auto 39px;
	height: 893px;
}

@media (max-width: 320px) {
	.table-id,
	.table-date,
	.table-visits,
	.table-sales {
		display: none;
	}
}

@media (max-width: 576px) {
	.table-id,
	.table-visits,
	.table-sales {
		display: none;
	}
}

@media (min-width: 992px) {
	.dsmeta-salestable thead tr {
		font-size: 22px;
	}

	.dsmeta-salestable tbody tr {
		font-size: 18px;
	}
}